#heroImage {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    max-width: 640px;
}

.tourTable{
max-width: 300px;
}



h2{
    text-align: left;
    margin-left: 11.01%;
    margin-right: 11.01%;
    font-size: .9em;
}

.overFlowTable{
    max-width: 100%;
    display: none;
}
td{
    overflow-wrap: break-word;
}
tbody{
}

#definition{
    line-height: 1.275;
    position: relative;
    margin: 2em;
    margin-left: 2.5em;
    margin-right: .5em;
    text-align: left;
    left: 0%;
    width: 85%;
    font-size: .9rem;
}

h1{
    display: none;
}

.characterNarrative{



    text-align: left;


    font-size: .8rem;
    color: var(--purple);

    padding-left: 5%;
    padding-right: 2.5%;
    margin-left: auto;
    margin-right: auto;
    width: 95%;

}
#instructionsForAboutPage{
    text-align: center;
    margin: auto;
}
#definitionBody{
margin-left:0%;
}

#albumImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 87%;
    max-width: 640px;
}
#tourScheduleHeader{
    display:block;
    position: relative;
   margin-left: auto;
   margin-right: auto;
   width: 55%;
   padding-left: 9.5%;
}
#mobileTourCards{
    display:block;
}
.tourCard{
    display: block;
}
#songList{
    padding: 0;
}
#songListTitle{
    font-size: 3rem;
    color: var(--yellow);
}
.merchandizingLogo{
    text-align: center;
    margin-left: 0%;
    margin: 0;
}

#socialMedia{
    max-width: 79.25%;
    max-height: 22px;
    min-width: 22px;
    min-height: 22px;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    width: 100%;
}

#instructionsForAboutPage > h2{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    text-align: left;
    max-width: 100%;
}

.characterProfileSection{
    margin-left: 0%;
    text-align: left;
    max-width: 100%;

}

.characterProfilePicture{
    padding-top: 0%;
}
.component{
    margin-top: 0;
    padding-top: 0;
    height: 10em;
}

.tourCard{
    background-color: var(--selection);
}


.songLyrics{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}

.characterCard{
    margin-top: .5rem;
    cursor: pointer;
    border-radius: 100%;
}

.cardRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em 0;
    flex-wrap: wrap;
    align-content: space-between;
    width: 80%;
    margin: auto;
}


.characterPicture{
    margin-bottom: 0rem;
    margin-top: 0rem;

}

.characterCard:hover, .characterCard.active, .characterCard:focus{

    background: -webkit-radial-gradient(var(--purple) 40%, var(--blue) 100%);
	background: -moz-radial-gradient(var(--purple) 40%, var(--blue) 100%);
	background: radial-gradient(ellipse at bottom, var(--purple) 40%, var(--blue) 100%);
	filter: contrast(135%);
}


#songList{
    width: 99%;
    margin: 0 auto;

}

.stanza{
    width: 100%;
}
