@font-face {
    font-family: "Final Fantasy 3/6 Font Regular";
    src: url("fonts/final_fantasy_36_font.eot?") format("eot"),
      url("fonts/final_fantasy_36_font.woff") format("woff"),
      url("fonts/final_fantasy_36_font.ttf") format("truetype"),
      url("fonts/final_fantasy_36_font.svg#Final-Fantasy-3/6-Font") format("svg");
    font-weight: normal;
    font-style: normal;
  }


/*
We place CSS variables for colors into root and then call them within css declarations as so:
background-color: var(--main-bg-color);
var(--ff4-menu-color);
*/


/*COLOR SCHEME:
Background #282a36
Current Line #44475a
Selection #44475a
Foreground #f8f8f2
Comment #6272a4
Cyan #8be9fd
Green #50fa7b
Orange #ffb86c
Pink #ff79c6
Purple #bd93f9
Red #ff5555
Yellow #f1fa8c

*/
:root {
    /*--menu-color: rgb(8, 58, 189);
    --blue: rgb(8, 58, 189);
    */
    --menu-color: #2bd1fc;
    --blue: #2bd1fc;
    --hover-color: #ffb86c;
    --foreground: 	#f8f8f2;
    --selection: #44475a;
    --background: #282a36;
    --currentLine: #44475a;
    --foreground: #f8f8f2;
    --comment: #6272a4;
    --cyan: #8be9fd;
    --green: #50fa7b;
    --orange: #ffb86c;
    --pink: #ff79c6;
    --purple: #bd93f9;
    --red: #ff5555;
    --yellow: #f1fa8c;
  }






nav ul {

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {

    list-style: none;
    margin: auto;

}

nav ul li a {
    padding: 0.8em 2em;
    background-color: #cccccc;
    text-decoration: none;
    flex: auto;
    flex-direction: column;
}

nav ul li a:hover {
    background-color: #6272a4;
}


.button {
    border-radius: 10px;
    border: 2px var(--hover-color) solid;
    color: #282a36;

    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    box-shadow: 0em .0625em .125em 0em grey;
    cursor: pointer;
    z-index: 10;
}

h1,

h4,
caption {


    font-family: 'Final Fantasy 3/6 Font Regular', 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    margin-top: .2em;
    /*
    can hide elemetns by using
    margin-left: -99000px;
    float:left;
    */
    text-align: center;
    /* */
    font-weight: normal;
    word-wrap: break-word;
}

h2,
h3 {
    color: var(--foreground);;
    text-align: center;
    margin: auto;
}

#newAlbumTitle {
    color: var(--foreground);;
    padding: .25em 1em;
    text-align: center;
}

h3 {
    margin-top: 20px;
    margin-bottom: 5px;
    color: #282a36;
}

h4 {
    font-size: 1.5em;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}


a:active {
    text-decoration: none;

}

body {
    background-color: var(--blue);
    margin: 0;
    padding: 0;

}

#wrapper {

    /*background-color: #6272a4;*/
    background-color: var(--menu-color);
    margin: 0 auto;
}

header {
    background-color:var(--blue);
    padding: 0em 1em .33em 1em;

}



footer {

    background-color: var(--blue);
    color: #282a36;
}

.text1 {
    font-family: 'Final Fantasy 3/6 Font Regular', 'Press Start 2P', cursive;
}

.text2 {


    font-family: 'Final Fantasy 3/6 Font Regular', 'Press Start 2P', cursive;
    text-align: center;
    margin: 0;
    padding: 0;
}

main {

    background-color: var(--background);
    padding: 1em 0;

}

.contentRow {
    display: flex;
    /*align-items keeps your images' aspect ratio */
    align-items: flex-start;
    margin-left: 5em;

}

.contentRow p {
    padding-left: 1em;
    padding-right: 5em;
    width: 75ch;
}

#heroImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    max-width: 640px;

}

#socialMedia {
    margin: 0 auto;
    padding: 1em;
    width: 45%;
    max-height: 48px;
    min-height: 24px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#socialMedia img {
    max-width: 22px;
    max-height: 22px;
    min-width: 22px;
    min-height: 22px;
    padding: 0px;
    display: flex;
}



table {
    width: 90%;
    margin: 1em auto;
    text-align: center;
    border-collapse: collapse;
    font-family: 'Press Start 2P', cursive;
}

td {
    padding: .5em;

}

tr {

    color: var(--foreground);;
}

caption {
    margin-bottom: 1.5em;
    font-size: 1.65em;
}

tr:hover {
    background-color: var(--blue);
    color: var(--background);
}

.cardRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em 0;
    flex-wrap: wrap;
    align-content: space-between;
    width: 80%;
    margin: auto;
}

.card {
    display: flex;
    flex-direction: column;
    width: 300px;

    align-content: space-between;
    margin: 3em;
    margin-top: 0;
    color: var(--foreground);;

}

.card .cardContent {
    flex: 1 1 auto;
    max-width: 300px;

}

.card .cardFooter {
    font-family: 'Roboto Condensed', sans-serif;
}

.cardFooter {
    text-align: center;
}

.card img {
    width: 450px;
    max-width: 100%;
    max-height: 450px;
}

.thisPage {
    background-color: #e8edfd;
    color: rgb(58, 55, 55);
}


.button:hover {
    background-color: #e8edfd;
    color: var(--pink);
}

.thisPage:hover {
    background-color: #e8edfd;
    color: var(--red);
}


.linkGroup {
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.linkGroup a button {
    display: flex;
    min-width: 327px;
    min-height: 72px;

}


@media only screen and (max-width: 600px) {
    #wrapper {
        width: 100%;
        background-color: #93c572;
        margin: 0 auto;
    }
}

h1 {
    font-size: 7em;
    padding-bottom: .0625em;
    color: var(--yellow);
}


#preOrderLinkText {
    margin: 0px;
    padding: 0px;
    padding-top: .1em;
    margin-top: 1em;
    font-family: 'Final Fantasy 3/6 Font Regular', 'Press Start 2P', cursive;
    font-size: 1.75em;
    background-color: var(--menu-color);
    margin-bottom: .5em;
    margin-left: 3%;
    margin-right: 5%;
    width: 95%;
    color: var(--pink);
}

#bioPic {
    border-radius: 50%;
}

#biography {
    font-family: 'Final Fantasy 3/6 Font Regular', 'Press Start 2P', cursive;
    font-size: 1.125em;
    text-indent: 2em;
    padding: 1em;
}

button {
    font-size: 2.25em;
    font-family: 'Press Start 2P', cursive;
}

.tourButton {
    font-size: 1.5em;
    margin-top: .5em;
}

.tourTable {
    max-width: 200px;
}
.tourTable{
    background-color: var(--background);
}
.tourTable tr:nth-child(odd){
    background-color: var(--purple);
    color: var(--black);
}
.tourTable tr:nth-child(1){
    background-color: var(--purple);
    color: var(--background);
    
}


.merchPrice {
    text-align: center;
    font-family: 'Final Fantasy 3/6 Font Regular', 'Press Start 2P', cursive;
}

.socialMediaIcon {
    filter: grayscale(.95);
    z-index: 4;
}

.overFlowTable {
    overflow-x: auto;
}

#indexMain {
    background-color: var(--background);
}

.characterProfilePicture {
    position: relative;
    z-index: 10;
}

.characterProfileSection {
    display: none;
    background-color: var(--background);
    margin: 0;
    padding: 0;
}


.characterProfilePicture:focus {
    position: relative;
    z-index: 10;
    background-color: #282a36;
}

.displayed {
    opacity: 1;
    transition: opacity 1s, height 0;
    display: block;
}

.hidden {
    opacity: 0;
    transition: opacity 1s, height 0 1s;
    height: 0;
}

#definition {
    display: block;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 50.5%;
    min-width: 240px;
    line-height: 117.5%;
    color: var(--red);
    display:none;
}

#definitionBody {
    overflow: hidden;
    display: inline;
    margin: 0px;
    color: var(--yellow);
}

.definitionKeyWord {
    display: inline;
    margin: 0px;
    color: var(--yellow);
}

#genreLabelOnFooter {
    text-align: center;
    margin: 0;
    background-color: var(--purple);
    color: var(--background);
    z-index: 3;
    
}

.characterNarrative {
    
    color: var(--purple);
    text-align: justify;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

#merchandizingLogo,
#songListTitle {
    text-align: center;
    color: var(--purple);
    
    margin-top: 0%;
    margin-left: 7.25%;
    margin-right: 5%;
    margin-bottom: 1%;
    font-family: 'Final Fantasy 3/6 Font Regular', 'Press Start 2P', cursive;
    font-size: 3.75rem;


}

.songListItem{
    text-align: center;
    color: var(--foreground);;
    list-style-type: none;
    padding-top: 2px;
    margin: 15px;
}

#albumImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    max-width: 640px;
}

.songImage {
    display: none;
}

#tourScheduleHeader,
#instructionsForAboutPage {
    color: var(--purple);
    display: block;
    text-align: center;
    padding-right: 10.5%;
}

.tourCard {
    background-color: var(--hover-color);
    max-height: 150px;
    display: none;
}


.tourDate,
.tourVenue,
.tourLocation {
    margin: .5em;
    text-align: left;
}

.tourDate,
.tourVenue {
    text-align: center;
    color: var(--purple);
    margin-top: .5em;
    padding-top: .5em;
}

.tourDate:hover,
.tourVenue:hover,
.tourLocation:hover {
    margin: .5em;
    background-color: var(--hover-color);
    color: black;
}

.tourLocation {
    color: var(--foreground);;
}

#instructionsForAboutPage {
    margin-left: 10%;
}

#tourScheduleHeader {
    margin-left: 10%;
}

#signUpForm {

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    max-width: 100%;
    height: 400px;
    max-height: 100%;
    background-color: #6272a4;
    color: var(--foreground);;
    display: none;
}


.success {
    padding: 1em;
    margin-bottom: 0.75rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #468847;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.error {
    padding: 1em;
    margin-bottom: 0.75rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #b94a48;
    background-color: #f2dede;
    border: 1px solid rgba(185, 74, 72, 0.3);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}


#sendButton{

}

#cn-button{

    background-color:var(--purple);
    color: var(--background);

}



#cn-wrapper > ul > li:nth-child(1){
    color: var(--background);
    background-color: var(--menu-color);
}

#cn-wrapper > ul > li:nth-child(2){
    color: var(--background);
    background-color: var(--menu-color);
}

#cn-wrapper > ul > li:nth-child(3){
    color: var(--background);
    background-color: var(--menu-color);
}

#cn-wrapper > ul > li:nth-child(4){
    color: var(--background);
    background-color: var(--menu-color);
}

#cn-wrapper > ul > li:nth-child(5){
    color: var(--background);
    background-color: var(--menu-color);
}

#cn-wrapper > ul > li:nth-child(6){
    color: var(--background);
    background-color: var(--menu-color);
}

#cn-wrapper > ul > li:nth-child(7){
    color: var(--background);
    background-color: var(--menu-color);
}

/*
TODO: bind events to the below elements based on the nth child rule used above
and then change/remove the onclick() functions?

TODO:
*/
.csstransforms .cn-wrapper li a:nth-child(1){
    /*pointer-events: unset;*/
    
}
picture.characterProfilePicture:active { background-color: transparent}

a {
    color: var(--foreground);
    font-family: 'Press Start 2P', cursive;
}
header{
    background-color: var(--purple);
}
.cn-wrapper, .cn-button{
    background-color: var(--purple);
    color: var(--purple);
}

.indexHeader{
    background-color: var(--selection);
}

#indexH1{
    color: var(--orange);
}

#indexFooter{
    background-color: var(--background);
}
.outer-dialogue-window{
    margin: 5%;
}

#socialMedia{
    background-color: var(--background);
    
}
caption{
    background-color: var(--background);
}

.overFlowTable{
    background-color: var(--selection);
}

li.songListItem:nth-child(odd){
    color: var(--blue);
}
li.songListItem:nth-child(even){
    color: var(--yellow);
}

div.card:nth-child(odd) > div:nth-child(even){
    color: var(--orange);
}
div.card:nth-child(even) > div:nth-child(even){
    color: var(--green);
}
#instructionsForAboutPage{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#socialMedia > a{
    padding: 25px;

}

.component{
    margin-top: 0;
    padding-top: 0;
    height: 15em;
}

.container{
    margin-top: 0;
    padding: 0;
}

#instructionsForAboutPage > h2{
    margin-left: 25%;
    text-align: left;
    max-width: 75%;
}

.characterProfileSection{
    margin-left: 12.5%;
    text-align: justify;
    max-width: 75%;
}

